<p id="notice"><%= notice %></p>

<p>
  <strong>Minor:</strong>
  <%= @place.minor %>
</p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<p>
  <strong>City:</strong>
  <%= @place.city_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @place.category_id %>
</p>

<p>
  <strong>Url image:</strong>
  <%= image_tag(@place.url_image(:small)) %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
